// Media Query
$breakpoint-phone: 335px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// Color
$main-color: #333e5c;
$main-sub-color: #839ada;
// $main-color: rgb(76, 172, 131);
$text-color: rgb(50, 50, 50);
$chart-background: #eaeaea;

// Height
$menu-height: 75px;

// Box Shadow
$box-shadow: 2px 4px 15px 3px rgba(0, 0, 0, 0.42);