@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.dot_chart {
  padding: 10px;
  margin-bottom: 10px;

  .dot_chart_title {
    width: 100%;
    text-align: left;
    display: inline-block;
    font-weight: bold;
    font-size: 0.9em;
    margin-bottom: 10px;
  }

  .dot_chart_back {
    position: relative;
    width: 100%;
    height: 15px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-clip: content-box;
    .dot {
      --dot-chart-width: 0%;
      width: 15px;
      height: 15px;
      border-radius: 100%;
      background: $chart-background;
      transition: 0.5s;
      &.fill {
        background: $main-color;
      }
      &.fill_value {
        background: linear-gradient(
          90deg, 
          $main-color var(--dot-chart-width), 
          $chart-background 0
        );
      }
    }
  }
}